*{
  padding: 0;
  margin: 0;
}
body{
	margin-top: 70px;
}
#page{
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  padding: 10px;
  box-shadow: 10px 10px 5px #888888;
}
header #nav_botao{
  top: 0;
  left: 0;
  font-size:30px;
  border: 3px solid black;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}
header #nav_botao:hover{
  cursor: pointer;
  color: red;
}
h1{
  padding-left: 50px;
  font-size:30px;
  display: inline;
}
h2{

}
nav{
	transition-duration: 0.1s;
  transition-timing-function: linear;

  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  padding: 10px;
  background-color: white;
  display: inline;
  border: 0;
  overflow: hidden;
}

nav:hover{
  transition-duration: 0.1s;
  transition-timing-function: linear;

  width: auto;
  height: auto;
  overflow: auto;
  box-shadow: 10px 10px 5px #888888;
}
nav ul{
  padding-top: 10px;
  list-style: none;
  border-left: 1px solid black;
}
nav li{
  padding: 2px;
  padding-left: 20px;
}
nav li:hover{

}
nav a{
  cursor: pointer;
  font-size: 12px;
  padding: 3px;
  margin: 3px;
  border: 1px solid black;
}
nav a:hover{
  transition-duration: 0.1s;
  transition-timing-function: linear;
  color: red;
  font-size: 14px;
  border: 2px solid red;
}
.nav_hide{
  display: none;
  color: blue;
}
#display{
	text-align:center;
}
svg{
	border: 1px solid black;
}
article{
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 5px #888888;
}
code{
  white-space: pre;
}
article header{
	position:relative;
}
article li{
	list-style: none;
	border-left: 1px solid black;
	border-top: 1px solid black;
	margin-bottom:10px;
	padding:10px;
}
